@import "frontend/src/styles/variables";

.url-shortener__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > h2 {
    margin: 5px;
  }
}

.url-shortener__progress-message {
  font-size: 0.9em;
  margin-top: 10px;

  &.error {
    color: $error-color;
  }
}
