@import '../../styles/variables';

.url-shortener__toggle-button {
  &.close {
    $size: 25px;
    $position-offset: 5px;

    background: transparent;
    border-radius: 50%;
    border: 0;
    width: $size;
    height: $size;
    font-size: 20px;
    line-height: $size;
    font-weight: 500;
    cursor: pointer;

    position: absolute;
    right: $position-offset;
    top: $position-offset;
  }

  &.open {
    border-radius: $widget-border-radius $widget-border-radius 0 0;
    height: 45px;
  }
}
