@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

$shadow-padding: 5px;
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: $shadow-padding $shadow-padding 0 $shadow-padding;
}

.widget__button {
  color: white;
  background: dodgerblue;
  border: 0;
  border-radius: $widget-border-radius;
  max-width: 120px;
  padding: 12px;
  font-size: 16px;
  height: 40px;
  cursor: pointer;

  &[disabled] {
    opacity: 0.9;
    background: silver;
    cursor: not-allowed;
  }

  &.stick-left {
    border-radius: 0 $widget-border-radius $widget-border-radius 0;
  }
}

.fadeIn, {
  opacity: 0;
  animation: .3s ease-in-out fadeIn;
  animation-delay: .2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
