@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

$shadow-padding: 5px;
body {
  height: 100%;
  margin: 0;
  padding: $shadow-padding $shadow-padding 0 $shadow-padding;
}

#app-root {
  height: 100%;
  transition: box-shadow 0.5s ease;

  &.widget-opened {
    border-radius: $widget-border-radius $widget-border-radius 0 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  }
}

.fadeIn, {
  opacity: 0;
  animation: .3s ease-in-out fadeIn;
  animation-delay: .2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
