.url-shortener__short-link {
  height: 40px;

  & > a {
    $border-color: rgba(200, 200, 200, 0.15);

    display: inline-block;
    height: 40px;
    font-size: 0.95em;
    line-height: 40px;
    padding: 0 12px;
    min-width: 250px;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 3px 0 0 3px;
    color: black;
    font-weight: 600;
    background: $border-color;
  }
}
